.roll-dice{
    display: flex;
    flex-flow: column nowrap;
    height: 75vh;
    background: pink;
    border: blue 5px solid;
    position: relative;
}

.reolldice-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.roll-dice .result{
    align-self: center;
    width: 15em;
    padding: 1em;
    font-size: 1em;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    background-color: orchid;
    margin-top: 3em;
}

.roll-dice button:hover{
    background-color: darkslateblue;
    cursor: pointer;
}

.tienDatChan{
    position: absolute;
    left: 70px;
}
.tienDatLe{
    position: absolute;
    right: 70px;
}
.name-chan, .name-le{
    position: absolute;
    background: red;
    border-radius: 50%;
}
.name-chan{
    left: 80px; 
    padding: 0 20px;    
}
.name-le{
    right: 80px; 
    padding: 0 30px; 
}
