.roll-dice{
    display: flex;
    flex-flow: column nowrap;
    height: 75vh;
    background: pink;
    position: relative;
    border: #50a9f9 5px solid;
}

.reolldice-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.roll-dice .result{
    align-self: center;
    width: 15em;
    padding: 1em;
    font-size: 1em;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    background-color: #fd4a52;
    margin-top: 3em;
}

.roll-dice button:hover{
    background-color: rgba(253, 74, 83, 0.496);
   
    cursor: pointer;
}

.tienDatChan{
    position: absolute;
    left: 70px;
}
.tienDatLe{
    position: absolute;
    right: 70px;
}
.btn-chan, .btn-le{
    position: absolute;
    background-color: #fd4a52;
    border-radius: 10px;
    color: #fff;
   
}
.btn-chan{
    left: 80px; 
    padding: 0 20px;   
    border: 0px; 
    
}
.btn-le{
    border: 0px;
    right: 80px; 
    padding: 0 30px; 
}
