body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  white-space: pre-wrap;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea {
  border: none;
  resize: none;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.note.new {
  background-color: aquamarine;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: rgb(233, 233, 233);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  border: solid 4px #308d46;
}

.save:hover {
  background-color: #308d46;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: 10px;
  border: solid 4px #308d46;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);

}

.search input:focus {
  outline: none;
}

.dark-mode {
  background-color: black;
  min-height: 85vh;
}

.dark-mode h1 {
  color: white;
}

.all {
  text-align: center;
  background: #ccc;
  height: 110vh;

}

.btn-game,
.btn-note {
  margin: 2px 25px 2px 10px;
  font-weight: bold;
  padding: 0px 20px;
  border-radius: 10%;
  background-color: rgb(182, 181, 181);
  border: 0;
}

.btn-game:hover,
.btn-note:hover {
  color: green;
  cursor: pointer;
  background-color: rgb(182, 181, 181);
 
}

.games {
  background: #50a9f9;
  border-radius: 10px;
  margin-top: 5px;
}

.btn-caro,
.btn-dice {
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
  padding: 0px 20px;
  background-color: #fd4a52;
  cursor: pointer;
  border: 0;
}

.btn-caro:hover,
.btn-dice:hover {
  background-color: rgba(253, 74, 83, 0.496);
  cursor: pointer;
}
